<a href="https://colab.research.google.com/github/colella2/ReinforcementLearning_Assignment1/blob/master/Reinforcement_Learning_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
P_mat = np.array([[0.80,0.10,0.10],[0.01,0.98 ,0.01],[0.10,0.10,0.80]])
P_mat

array([[0.8 , 0.1 , 0.1 ],
       [0.01, 0.98, 0.01],
       [0.1 , 0.1 , 0.8 ]])

**Construct the transition probability from 
(
s
,
e
)
 to 
(
s
′
,
e
′
)
 for each action 
a
∈
{
0
,
1
,
2
}
.** 



a
∈∈
{
0
,
1
,
2
}
  and 
s
∈
{
0
,
1
,
2
,
3
,
4
} and e
∈
{
0
,
1
,
2
}


 s' >= e' always

In [ ]:
#(15x15 matrix)
index=[]
for s in range(5):
  for e in range(3):
    index.append((s,e)) 

zeroes=np.zeros((15,15))
trans_mat = pd.DataFrame(zeroes,index=index,columns=index)
trans_mat

        (0, 0)  (0, 1)  (0, 2)  (1, 0)  ...  (3, 2)  (4, 0)  (4, 1)  (4, 2)
(0, 0)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(0, 1)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(0, 2)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(1, 0)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(1, 1)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(1, 2)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(2, 0)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(2, 1)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(2, 2)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(3, 0)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(3, 1)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(3, 2)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(4, 0)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(4, 1)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(4, 2)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[15 rows x 15 columns]

Action = 0

When a = 0, s' = e', so all else elements should be zero

In [ ]:
trans_mat_0=trans_mat.copy()
for (s,e) in index:
  for (s_,e_) in index:
    if (s_==e_) & (s>=e):
     trans_mat_0.at[(s,e),(s_,e_)]=P_mat[e,e_]
trans_mat_0

        (0, 0)  (0, 1)  (0, 2)  (1, 0)  ...  (3, 2)  (4, 0)  (4, 1)  (4, 2)
(0, 0)    0.80     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(0, 1)    0.00     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(0, 2)    0.00     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(1, 0)    0.80     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(1, 1)    0.01     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(1, 2)    0.00     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(2, 0)    0.80     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(2, 1)    0.01     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(2, 2)    0.10     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(3, 0)    0.80     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(3, 1)    0.01     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(3, 2)    0.10     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(4, 0)    0.80     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(4, 1)    0.01     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
(4, 2)    0.10     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[15 rows x 15 columns]

Action = 1

Conditions:
1. When a = 1, s' = 1 + e'
2. s > = e , you can't have more than what was given that day
3. s>=1, you can't save 1 unless you have atleast 1

In [ ]:
trans_mat_1=trans_mat.copy()
for (s,e) in index:
  for (s_,e_) in index:
    if (s_==e_+1) & (s>=e)  & (s>=1):
     trans_mat_1.at[(s,e),(s_,e_)]=P_mat[e,e_]
trans_mat_1

        (0, 0)  (0, 1)  (0, 2)  (1, 0)  ...  (3, 2)  (4, 0)  (4, 1)  (4, 2)
(0, 0)     0.0     0.0     0.0    0.00  ...    0.00     0.0     0.0     0.0
(0, 1)     0.0     0.0     0.0    0.00  ...    0.00     0.0     0.0     0.0
(0, 2)     0.0     0.0     0.0    0.00  ...    0.00     0.0     0.0     0.0
(1, 0)     0.0     0.0     0.0    0.80  ...    0.10     0.0     0.0     0.0
(1, 1)     0.0     0.0     0.0    0.01  ...    0.01     0.0     0.0     0.0
(1, 2)     0.0     0.0     0.0    0.00  ...    0.00     0.0     0.0     0.0
(2, 0)     0.0     0.0     0.0    0.80  ...    0.10     0.0     0.0     0.0
(2, 1)     0.0     0.0     0.0    0.01  ...    0.01     0.0     0.0     0.0
(2, 2)     0.0     0.0     0.0    0.10  ...    0.80     0.0     0.0     0.0
(3, 0)     0.0     0.0     0.0    0.80  ...    0.10     0.0     0.0     0.0
(3, 1)     0.0     0.0     0.0    0.01  ...    0.01     0.0     0.0     0.0
(3, 2)     0.0     0.0     0.0    0.10  ...    0.80     0.0     0.0     0.0
(4, 0)     0.0     0.0     0.0    0.80  ...    0.10     0.0     0.0     0.0
(4, 1)     0.0     0.0     0.0    0.01  ...    0.01     0.0     0.0     0.0
(4, 2)     0.0     0.0     0.0    0.10  ...    0.80     0.0     0.0     0.0

[15 rows x 15 columns]

Action = 2

Conditions:
1. When a = 2, s' =2+ e'
2. s > = e , you can't have more than what was given that day
3. s>=2, you can't save 2 unless you have atleast 2

In [ ]:
trans_mat_2=trans_mat.copy()
for (s,e) in index:
  for (s_,e_) in index:
    if (s_==e_+2) & (s>=e) & (s>=2):
     trans_mat_2.at[(s,e),(s_,e_)]=P_mat[e,e_]
trans_mat_2

        (0, 0)  (0, 1)  (0, 2)  (1, 0)  ...  (3, 2)  (4, 0)  (4, 1)  (4, 2)
(0, 0)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0    0.00
(0, 1)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0    0.00
(0, 2)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0    0.00
(1, 0)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0    0.00
(1, 1)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0    0.00
(1, 2)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0    0.00
(2, 0)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0    0.10
(2, 1)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0    0.01
(2, 2)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0    0.80
(3, 0)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0    0.10
(3, 1)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0    0.01
(3, 2)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0    0.80
(4, 0)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0    0.10
(4, 1)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0    0.01
(4, 2)     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0    0.80

[15 rows x 15 columns]

**The child subjected utility from eating ice cream is 
log
(
c
+
1
)
 if 
c
≥
0
 and 
−
∞
 otherwise. Construct the reward matrix for each transition 
(
s
,
e
,
a
)
 and 
(
s
′
,
e
′
)
.**

In [ ]:
R_mat = np.empty((15,15))
R_mat.fill('-inf')
R_mat = pd.DataFrame(R_mat,index=index,columns=index)
R_mat

        (0, 0)  (0, 1)  (0, 2)  (1, 0)  ...  (3, 2)  (4, 0)  (4, 1)  (4, 2)
(0, 0)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(0, 1)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(0, 2)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(1, 0)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(1, 1)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(1, 2)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(2, 0)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(2, 1)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(2, 2)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(3, 0)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(3, 1)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(3, 2)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(4, 0)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(4, 1)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(4, 2)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf

[15 rows x 15 columns]

c
∈
{
0
,
1
,
2
,
3
,
4
}

Action = 0

 c = s - a = s

In [ ]:
R_mat_0=R_mat.copy()
for (s,e) in index:
  for (s_,e_) in index:
    if s >= 0: #since c= s
      R_mat_0.at[(s,e),(s_,e_)]=np.log(s+1)
R_mat_0

          (0, 0)    (0, 1)    (0, 2)  ...    (4, 0)    (4, 1)    (4, 2)
(0, 0)  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
(0, 1)  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
(0, 2)  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
(1, 0)  0.693147  0.693147  0.693147  ...  0.693147  0.693147  0.693147
(1, 1)  0.693147  0.693147  0.693147  ...  0.693147  0.693147  0.693147
(1, 2)  0.693147  0.693147  0.693147  ...  0.693147  0.693147  0.693147
(2, 0)  1.098612  1.098612  1.098612  ...  1.098612  1.098612  1.098612
(2, 1)  1.098612  1.098612  1.098612  ...  1.098612  1.098612  1.098612
(2, 2)  1.098612  1.098612  1.098612  ...  1.098612  1.098612  1.098612
(3, 0)  1.386294  1.386294  1.386294  ...  1.386294  1.386294  1.386294
(3, 1)  1.386294  1.386294  1.386294  ...  1.386294  1.386294  1.386294
(3, 2)  1.386294  1.386294  1.386294  ...  1.386294  1.386294  1.386294
(4, 0)  1.609438  1.609438  1.609438  ...  1.609438  1.609438  1.609438
(4, 1)  1.609438  1.609438  1.609438  ...  1.609438  1.609438  1.609438
(4, 2)  1.609438  1.609438  1.609438  ...  1.609438  1.609438  1.609438

[15 rows x 15 columns]

Action = 1

c = s - 1

In [ ]:
R_mat_1=R_mat.copy()
for (s,e) in index:
  for (s_,e_) in index:
    if s - 1 >= 0: #since c= s
      R_mat_1.at[(s,e),(s_,e_)]=round(np.log(s),3)
R_mat_1

        (0, 0)  (0, 1)  (0, 2)  (1, 0)  ...  (3, 2)  (4, 0)  (4, 1)  (4, 2)
(0, 0)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(0, 1)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(0, 2)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(1, 0)   0.000   0.000   0.000   0.000  ...   0.000   0.000   0.000   0.000
(1, 1)   0.000   0.000   0.000   0.000  ...   0.000   0.000   0.000   0.000
(1, 2)   0.000   0.000   0.000   0.000  ...   0.000   0.000   0.000   0.000
(2, 0)   0.693   0.693   0.693   0.693  ...   0.693   0.693   0.693   0.693
(2, 1)   0.693   0.693   0.693   0.693  ...   0.693   0.693   0.693   0.693
(2, 2)   0.693   0.693   0.693   0.693  ...   0.693   0.693   0.693   0.693
(3, 0)   1.099   1.099   1.099   1.099  ...   1.099   1.099   1.099   1.099
(3, 1)   1.099   1.099   1.099   1.099  ...   1.099   1.099   1.099   1.099
(3, 2)   1.099   1.099   1.099   1.099  ...   1.099   1.099   1.099   1.099
(4, 0)   1.386   1.386   1.386   1.386  ...   1.386   1.386   1.386   1.386
(4, 1)   1.386   1.386   1.386   1.386  ...   1.386   1.386   1.386   1.386
(4, 2)   1.386   1.386   1.386   1.386  ...   1.386   1.386   1.386   1.386

[15 rows x 15 columns]

Action = 2

c = s - 2

In [ ]:
R_mat_2=R_mat.copy()
for (s,e) in index:
  for (s_,e_) in index:
    if s - 2 >= 0: #since c= s
      R_mat_2.at[(s,e),(s_,e_)]=round(np.log(s-2+1),3)
R_mat_2

        (0, 0)  (0, 1)  (0, 2)  (1, 0)  ...  (3, 2)  (4, 0)  (4, 1)  (4, 2)
(0, 0)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(0, 1)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(0, 2)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(1, 0)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(1, 1)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(1, 2)    -inf    -inf    -inf    -inf  ...    -inf    -inf    -inf    -inf
(2, 0)   0.000   0.000   0.000   0.000  ...   0.000   0.000   0.000   0.000
(2, 1)   0.000   0.000   0.000   0.000  ...   0.000   0.000   0.000   0.000
(2, 2)   0.000   0.000   0.000   0.000  ...   0.000   0.000   0.000   0.000
(3, 0)   0.693   0.693   0.693   0.693  ...   0.693   0.693   0.693   0.693
(3, 1)   0.693   0.693   0.693   0.693  ...   0.693   0.693   0.693   0.693
(3, 2)   0.693   0.693   0.693   0.693  ...   0.693   0.693   0.693   0.693
(4, 0)   1.099   1.099   1.099   1.099  ...   1.099   1.099   1.099   1.099
(4, 1)   1.099   1.099   1.099   1.099  ...   1.099   1.099   1.099   1.099
(4, 2)   1.099   1.099   1.099   1.099  ...   1.099   1.099   1.099   1.099

[15 rows x 15 columns]

**Apply the value iteration approach to compute the value function for each state 
(
s
,
e
)
 and optimal policy. Iterate 
600
 times**